{
  "presets": ["@babel/preset-react","@babel/preset-env" ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
    "prismjs", {
        "languages": ["javascript", "css", "html", "jsx"],
        "theme": "okaidia",
        "css": true
}]
  ]
}
